.THIS .btn_next button {
    min-width: 120px;
}

.THIS .input-group .lightningInput {
    display: inline-block;
    margin-right: 10px;
}


.THIS .linethrough {
     text-decoration: line-through; 
     color: darkseagreen;

 }
 .THIS .linethrough-none {
    text-decoration: none; 
}